*{
  border: 0;
  padding: 0;
  background-color: rgb(4, 140, 185);
  text-align: center;
}

p{
  color: whitesmoke;
  font-size: 18px;
}

button{
  padding: 10px;
  color: rgb(47, 120, 255);
  background-color: white;
  border: 2px solid rgb(47, 120, 255);
  margin: 10px;
}